@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200&display=swap");

/* Generales */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center; /* Eje X */
  align-items: center; /* Eje Y */
  background-color: hsl(220, 15%, 55%);
}

/* Principal */

#principal {
  display: block;
  width: 240px;
  background-color: white;
  font-family: "Outfit", sans-serif;
  align-items: center;
  border-radius: 1rem;
}

/* qr */
#qr {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 210px;
  height: 210px;
}
#qr img {
  display: block;
  border-radius: 1rem;
  width: 210px;
  height: 210px;
}

/* titulo */
#titulo {
  width: 240px;
  margin: 0 0 10px 0;
}

#titulo h2 {
  width: 190px;
  font-size: 17px;
  margin: auto;
  text-indent: 5px;
  font-weight: bold;
  text-align: center;
}

/* parrafo */

#parrafo {
  width: 160px;
  margin: auto;
  margin-bottom: 30px;
}

#parrafo p {
  margin: 0px;
  font-size: 14px;
  text-indent: 5px;
  text-align: center;
}
